<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
      id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li >
          	<!---->
            <a href="./index.html" class="">
            	<span class="am-icon-home"></span>
                <!--<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/Information.png" alt="消息"/>-->
                <span class="am-navbar-label">主页</span>
            </a>
          </li>
          <li >
            <a href="./content.html" class="">
            	<span class="am-icon-bars"></span>
                <!--<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/phone.png" alt="呼叫"/>-->
                <span class="am-navbar-label">资源库</span>
            </a>
          </li>
          <li data-am-navbar-share>
            <a href="###" class="">
                <img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/share.png" alt="分享"/>
                <span class="am-navbar-label">备用</span>
            </a>
          </li>

      </ul>
	</body>
</html>
