<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.common.mapper.CommentCustomMapper">
	<select id="listComment" parameterType="java.lang.String"
		resultType="com.app.common.model.response.CommentResponse">
		SELECT
		tu.username,
		te.content as experienceTitle,
		tm.commentimg,
		tm.commenttime,
		tm.commentupdatetime,
		tm.content,
		tm.exp_id as expId,
		tm.id,
		tm.user_id as userId
		FROM
		t_comment tm,
		t_experience te,
		t_user tu
		WHERE
		tm.user_id = tu.id
		AND tm.exp_id = te.id
		AND tm.exp_id = #{id}
		ORDER BY tm.commenttime desc
	</select>
</mapper>