<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				/* 智能机浏览器版本信息:*/
				var str="";
				var browser={versions:function(){
				var u = navigator.userAgent, app = navigator.appVersion;
				return {//移动终端浏览器版本信息
				trident: u.indexOf('Trident') > -1, //IE内核
				presto: u.indexOf('Presto') > -1, //opera内核
				webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
				gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
				mobile: !!u.match(/AppleWebKit.*Mobile.*/)||!!u.match(/AppleWebKit/), //是否为移动终端
				ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
				android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
				iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
				iPad: u.indexOf('iPad') > -1, //是否iPad
				webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
				};
				}(),
				language:(navigator.browserLanguage || navigator.language).toLowerCase()
				}
				str+="浏览器分辨率: "+document.documentElement.clientWidth+"*"+document.documentElement.clientHeight;
				str+="<br>屏幕分辨率: "+window.screen.width+"*"+window.screen.height;
				str+="<br>浏览器语言版本: "+browser.language;
				str+="<br>是否为移动终端: "+browser.versions.mobile;
				str+="<br>ios终端: "+browser.versions.ios;
				str+="<br>android终端: "+browser.versions.android;
				str+="<br>是否为iPhone: "+browser.versions.iPhone;
				str+="<br>是否iPad: "+browser.versions.iPad;
				str+="<br>"+navigator.userAgent;
				$(".box:first").html(str);
			});
	
		
	function click1(){
		
		if (browser.versions.android) {
		        alert("Android");       
	  	} else if (browser.versions.ios) {
		       	alert("IOS");
		}
	};
		</script>
	</head>
	<body>
		<div id="box" class="box">
			
		</div>
	</body>
</html>
